<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Home Cousera</title>
      <!-- <script type="text/javascript" src="angular.min.js"> </script> -->
      <script src="angular.min.js"></script>
      <script async src="//jsfiddle.net/itsselvam/9sL7s7ox/embed/"></script>
  </head>
  <body ng-app="" style="background-color: {{colorName}}">
    <h1>Hello Cousera Students!</h1>

    <div class=""  >
      Name: <input type="text" ng-model="username"><br/>
		{{ "My Name: " + username }}

    </div>
    <div>
    		Select color
    		<select ng-model="color">
    		<option>Red</option>
    		<option>Blue</option>
    		<option>Green</option>
    		<option>Yellow</option>
    		</select>
    		<br/>
    		{{color }}

    		<br/>
    </div>

    <br/>
		 <div style="width: 25%">
                    Name: <input type="text" style="background-color: {{color}}"><br/>
                    Color: <input name="Color Picker" type="color" ng-model="colorName"/>
                </div>


                <div style="width: 25%">
                    Name: <input type="text" ng-model="username"><br/>
                    <span>{{ "My Name: " + username }}</span>
                </div>

            </div>
        </div>

  </body>
</html>
